* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: rgb(206, 206, 206);
}

body::-webkit-scrollbar-thumb {
  background: #d124ed;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background: #af1ec7;
  transition: all 0.2s ease-in-out;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.skeleton-timeline {
  margin: 0.75rem auto;
}